@import "bootstrap/scss/bootstrap";

.container-fluid {
    padding: 0;

    #mainSlider {
        .carousel-inner {
            height: max-content;
        }
    }
}

.carousel-control-prev-icon {
    background-image: url('../../assets/circle-chevron-left-solid.png');
}
.carousel-control-next-icon {
    background-image: url(../../assets/circle-chevron-right-solid.png);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { 


}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
 

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 


 }