@import "bootstrap/scss/bootstrap";

.container-fluid {
    padding: 0;

    #mainSlider {
        .carousel-inner {
            height: max-content;
        }
    }
}

.carousel-control-prev-icon {
    background-image: url('../../assets/circle-chevron-left-solid.png');
    color: var;
}
.carousel-control-next-icon {
    background-image: url(../../assets/circle-chevron-right-solid.png);
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
}