@import "bootstrap/scss/bootstrap";

.container-navbar {
    width: 100%;
    height: max-content;
    align-items: center;
    padding: 0 10px;
    font-family: var(--font-roboto);
    background-color: var(--bg-rosa);
    cursor: pointer;


        ul {
            li {
                a {
                    color: var(--bg-branco);
                    font-weight: 500;
                    margin-inline: 25px;
                    letter-spacing: 3px;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    
                    &:hover {
                        color: var(--bg-preto);
                        text-decoration: underline;
                
                    }
                }
            }
        }
}


