@import "bootstrap/scss/bootstrap";

.container-navbar {
    width: 100%;
    height: max-content;
    align-items: center;
    padding: 0 10px;
    font-family: var(--font-roboto);
    background-color: var(--bg-rosa);
    cursor: pointer;


        ul {
            li {
                a {
                    color: var(--bg-branco);
                    font-weight: 500;
                    margin-inline: 25px;
                    letter-spacing: 3px;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    
                    &:hover {
                        color: var(--bg-preto);
                
                    }
                }
            }
        }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .container-navbar {
        padding: 0 5px;
        cursor: pointer;
    
    
            ul {
                li {
                    a {

                        margin-inline: 5px;
                        letter-spacing: 2px;

                        font-size: 10px;
                        
                        &:hover {
                            color: var(--bg-preto);
                    
                        }
                    }
                }
            }
    }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
