@import "bootstrap/scss/bootstrap";

.habilidades-container {
    background-color: var(--bg-cinza);
    .habilidades {
        padding-top: 5%;
        padding-bottom: 5%;
        .caixas {
            img {
                height: auto;
                width: 450px;
            }
        }
        .content-text {
            font-family: var(--font-roboto);
            color: var(--bg-branco);
            align-items: center;
            h4 {
                color: var(--bg-rosa);
                font-family: var(--font-sora);
                letter-spacing: 5px;
                font-size: 20px;
            }
            h1 {
                font-weight: 700;
            }
            p {
                font-size: 17px;

                a {
                    text-decoration: none;
                    color: var(--bg-rosa);
                }
            }
        
        }

    }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .habilidades-container {

        .habilidades {
    
            padding-top: 5%;
            padding-bottom: 5%;
            .caixas {
                img {
                    display: none;
                    height: auto;
                    width: 250px;
                }
            }
            .content-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                h4 {
                    color: var(--bg-rosa);
                    font-family: var(--font-sora);
                    letter-spacing: 5px;
                    font-size: 10px;
                }
                h1 {
                    padding-right: 1%;
                    font-weight: 700;
                    font-size: 30px;
                }
                p {
                    font-size: 10px;
                    margin-left:20px;
                    margin-right: 20px;
    
                    a {
                        text-decoration: none;
                        color: var(--bg-rosa);
                    }
                }
            
            }
    
        }
    } 
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    
.habilidades-container {

    .habilidades {

        padding-top: 5%;
        padding-bottom: 5%;
        .caixas {
            img {
                display: none;
                height: auto;
                width: 250px;
            }
        }
        .content-text {
            
            h4 {
                color: var(--bg-rosa);
                font-family: var(--font-sora);
                letter-spacing: 5px;
                font-size: 20px;
            }
            h1 {
                padding-right: 1%;
                font-weight: 700;
            }
            p {
                font-size: 12px;

                a {
                    text-decoration: none;
                    color: var(--bg-rosa);
                }
            }
        
        }

    }
}
 }
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
        
.habilidades-container {
    .habilidades {
        padding-top: 5%;
        padding-bottom: 5%;
        .caixas {
            img {
                height: auto;
                width: 300px;
            }
        }
        .content-text {
            font-family: var(--font-roboto);
            color: var(--bg-branco);
            align-items: center;
            h4 {
                color: var(--bg-rosa);
                font-family: var(--font-sora);
                letter-spacing: 5px;
                font-size: 15px;
            }
            h1 {
                font-size: 40px;
                font-weight: 700;
            }
            p {
                font-size: 12px;

                a {
                    text-decoration: none;
                    color: var(--bg-rosa);
                }
            }
        
        }

    }
}
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }